*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

a:-webkit-any-link {
  text-decoration: none !important;
  color: #663A74;
}

body {
  color: #663A74;
  background: #ECEFF1;
}

main {
  padding-inline: 10rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.pageTitle {
  grid-area: 1 / 1 / 3 / 3;
  width: clamp(40vw, 500px, 70vw);
  z-index: 10;
  position: absolute;
  margin-left: 2rem;
}

.pagePortrait {
  grid-area: 2 / 2 / 3 / 4;
  width: clamp(35vw, 400px, 50vw);
  z-index: 5;
  position: absolute;
  align-self: center;
  /* justify-self: center; */
}

.sloganWrapper {
  grid-area: 3 / 2 / 4 / 4;
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* align-content: end; */
  align-items: stretch;
  align-self: end;
  /* justify-content: right; */
  width: clamp(50vw, 500px, 90vw);
  overflow-wrap: normal;
  position: absolute;
}

.sloganA {
  font-size: 5vh;
  margin: 0 4rem 0 0;
  text-align: right;
}

.sloganB {
  font-size: 5vh;
  margin: 0 4rem 0 0;
  text-align: right;
}