*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,

#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

a:-webkit-any-link {
  text-decoration: none !important;
  color: #663A74;
}

body {
  color: #663A74;
  background: #ECEFF1;
}

.home--layout {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, 50%);
  grid-template-areas:
    "top"
    "middle"
    "bottom";
}

.page--title {
  padding: 1rem 4rem;
  grid-area: top;
  position: absolute;
  z-index: 10;
  width: min(800px, max(300px, 100%));
}

.page--portrait {
  padding: 1rem 4rem;
  grid-area: middle;
  position: absolute;
  z-index: 5;
  width: min(800px, max(300px, 100%));
}