.nav {
  background-color: #ECEFF1;
  margin: 0;
  padding-inline-start: 0;
  padding: 1rem 7rem 1rem 7rem;
  list-style: none;
  display: flex;
  font-size: large;
  font-weight: bold;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #663A74;
}

.nav-item {
  text-decoration: none;
  background-color: #ABA4DB;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  color: #663A74;
}

.nav-item:visited {
  text-decoration: none;
  background-color: #ABA4EF;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 1px 1px 1px #663A74;
}

.nav-item:hover {
  text-decoration: none;
  background-color: #ABA4EF;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px #663A74;
}

.nav-item:active {
  text-decoration: none;
  background-color: #ABA4EF;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px #663A74;
}

a:link {
  text-decoration: none;
}